/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Rupal Patel
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #f0efef;
	font-size: 26px;
	line-height: 1.4;
	color: #606161;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	min-width: 90%;
	width: 1024px;
}

a {
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.logo h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 800;
	float: left;
}

.intro {
  	height: 800px;
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
  	padding-top: 32px;
}

.intro h2 {
	font-size: 2em;
	font-weight: 600;
	color: #fff;
	text-align: center;
	margin: 120px 0 90px;
}

.menu {
	background-color: #033048;
	color: #fff;
	padding: 40px 0px;
}

.menu h3 {
	color: #f9e42e;
	text-align: right;
	display: inline;
}

.button {
	font-size: 28px;
	font-weight: 800;
	border-radius: 5px;
	text-align: center;
	padding: 12px 0;
	width: 280px;
	margin: 0px auto;
	display: block;
}

.yellow {
	background: #f9e42e;
	color: #033048;
}

.benefits {
	background-color: #f0efef;
	padding: 80px 0 80px;
}

.benefits h2 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 40px;
}
.benefits p, ul {
	width: 625px;
}

.benefits li {
	width: 450px;
}
.benefits ul {
 	list-style: disc;
 	line-height: 1.5;
 	margin: 30px 0 0 125px;
}

.testimonials {
	background: url(../images/testimonial_bg.jpg) no-repeat;
	background-size: cover;
	padding: 70px 0 70px;
	color: #fff;
}

blockquote {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	width: 580px;
	margin: 0 auto;
}

blockquote span {
	font-weight: 600;
	font-style: normal;
	display: block;
}

.cta {
	background: #f9e42e;
	padding: 30px;
	text-align: center;
	}

.blue {
	background: #033048;
	color: #fff;
	font-size: 24px;
}

footer {
	background: #121212;
	padding: 65px 0 45px;
	text-align: center;
}

footer .logo {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
}

footer .social {
	padding: 50px;
}

.social a {
	padding: 0px 30px;
	text-align: center;
}

footer .copyright {
	color: #606161;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
}

